header{
    text-align: center;
    background-color: rgb(250, 207, 114);
    line-height: 40px;
}

body{
    background-image: url("/MariaIsabel/img/fonclaro.jpg");
    background-size: cover;
    float:left;
}

fieldset{
    background-color: rgb(250, 207, 114);
}

footer{
    text-align: center;
}

table{
    background-color: aliceblue;
    margin-left: 6%;
    text-align: center;
    padding: 1px;
}

form{
    width: 40%;
    margin-left: 26.5%;
}

.formulario{
    margin-left: 39%;
}

.barra{
    width: 70%;
    height: 1.5px;
    background-color: black;
    margin-left: 15%;
}

.foto1{
    width: 35.3%;
    height: 35.3%;
    float: right;
    margin-right: 6%;
}

.foto2{
    width: 35%;
    height: 35%;
    float: right;
    margin-right: 6%;
}

.primerparr{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


.enlace1{
    margin-left: 6%;
    font-size: 18px;
}



ol{
    list-style-type: none;
}

.lista{
    margin-left: 32%;
    
    display:flex;
}

.jefes{
    margin-left: 13%;
}

.resumen{
    font-size: 18px;
    margin-left: 6%;
}

caption{
    font-size: 20px;
    font-family: sans-serif;
}

/*
.calidad{
    font-size: 20px;
    margin-left: 3%;
    text-align: center;
    font-family: serif;
}*/


th{
    background-color: orange;
}

.tabla2{
    /*margin-left: 39.5%;*/
    width: 39.8%;
}

.contactus{
    font-size: 18px;
    margin-left: 6%;
}
